.cs--dashboard--connect {
  padding: 35px 0;
  .cs--container {
    padding: 0 var(--padding-sm) 0 100px;
    @include media('<xlg') {
      padding: 0 var(--padding-sm);
    }
    @include media('<xs') {
      padding: 0 var(--padding-xs);
    }
  }
  .cs--page-side {
    margin-top: 10px;
  }
  .cs--page__title {
    margin-bottom: 20px;
    font-family: var(--font-secondary);
  }
  .cs--page__sub-title {
    margin-bottom: 40px;
  }
  .cs--dashboard-form {
    &__title {
      margin-bottom: 30px;
    }
    .cs--btn {
      padding-right: 47px;
      padding-left: 47px;
    }
  }
}
