.cs--dashboard--select-exchange {
  padding: 35px 0 65px;
  .cs--container {
    padding: 0 45px 0 100px;
    @include media('<xlg') {
      padding: 0 var(--padding-sm);
    }
    @include media('<xs') {
      padding: 0 var(--padding-xs);
    }
  }
  .cs--page {
    &__title {
      margin-bottom: 30px;
    }
    &__sub-title {
      margin-bottom: 45px;
    }
  }
}
