@import 'functions';

// Global variables

// 'rem' base value
$rem: 10px;

// Breakpoints for include media mixin
$breakpoints: (
  'xs': 480px,
  'sm': 768px,
  'md': 980px,
  'lg': 1200px,
  'xlg': 1440px,
);

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': (
    '(-webkit-min-device-pixel-ratio: 1.5)',
    '(min-resolution: 144dpi)',
  ),
  'retina3x': (
    '(-webkit-min-device-pixel-ratio: 2.5)',
    '(min-resolution: 240dpi)',
  ),
  'hover': (
    '(hover: hover)' '(pointer: fine)',
    '(-ms-high-contrast: none)',
    '(-ms-high-contrast: active)',
  ),
  'theme-light': 'prefers-color-scheme: light',
  'theme-dark': 'prefers-color-scheme: dark',
  'ie': (
    '(-ms-high-contrast: none)',
    '(-ms-high-contrast: active)',
  ),
);

:root {
  // Breakpoints
  --xs: #{map-get($breakpoints, 'xs')};
  --sm: #{map-get($breakpoints, 'sm')};
  --md: #{map-get($breakpoints, 'md')};
  --lg: #{map-get($breakpoints, 'lg')};
  --xlg: #{map-get($breakpoints, 'xlg')};

  // container
  --container-width: var(--xlg);
  --container-padding: 80px;
  // header size
  --landing-header-width: 0;
  --landing-header-height: 0;

  // Colors
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 0%, 60%);
  --color-grey-5: hsl(0, 0%, 96%);
  --color-grey-10: hsl(0, 0%, 93%);
  --color-grey-15: hsl(0, 0%, 88%);
  --color-grey-20: hsl(0, 0%, 84%);
  --color-grey-30: hsl(0, 0%, 71%);
  --color-grey-70: hsl(0, 0%, 45%);
  --color-grey-80: hsl(0, 0%, 40%);
  --color-grey-100: hsl(0, 0%, 13%);
  --color-light-blue-50: hsl(206, 78%, 78%);
  --color-blue: hsl(210, 100%, 60%);
  --color-blue-10: hsl(195, 100%, 49%);
  --color-blue-20: hsl(197, 100%, 48%);
  --color-blue-30: hsl(200, 100%, 48%);
  --color-blue-40: hsl(209, 100%, 47%);
  --color-blue-50: hsl(221, 63%, 22%);
  --color-blue-60: hsl(221, 83%, 18%);
  --color-blue-70: hsl(221, 90%, 15%);
  --color-blue-80: hsl(221, 93%, 12%);
  --color-blue-85: hsl(221, 92%, 10%);
  --color-blue-90: hsl(220, 92%, 10%);
  --color-blue-100: hsl(222, 89%, 7%);
  --color-grey-blue-10: hsl(223, 21%, 28%);
  --color-grey-blue-50: hsl(220, 1%, 51%);
  --color-orange-30: hsl(25, 98%, 62%);
  --color-orange-50: hsl(22, 90%, 59%);
  --color-green-30: hsl(140, 81%, 40%);
  // --c: #02102F;

  --grad-blue: linear-gradient(86.88deg, #00c6fb 1.95%, #005bea 97.83%);
  --grad-orange: linear-gradient(271.95deg, #fb7e37 14.29%, #ff9a44 98.96%);
  --grad-orange-10: linear-gradient(53.13deg, #c07945 3.66%, #fa7e37 92.94%);
  --grad-orange-20: linear-gradient(90deg, #f83600 0%, #f9d423 100%);
  --radial-blue: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #02143b 0%, #01123a 100%);

  // Fonts
  --font-sans-serif: 'Montserrat', Helvetica, sans-serif;
  --font-serif: 'Times New Roman', Times, Georgia, serif;
  --font-primary: var(--font-sans-serif);
  --font-secondary: 'Raleway', var(--font-sans-serif);

  // Body base
  --base-background-color: var(--color-blue-80);
  --base-font-family: var(--font-sans-serif);
  --base-font-size: 1.6rem;
  --base-line-height: 1.2;
  --base-text-color: var(--color-white);
  --base-min-width: 320px;

  // Links base
  --base-link-color: var(--color-white);

  // Buttons base
  --btn-color: var(--color-white);
  --btn-background: var(--color-blue);
  --btn-padding: 0.4em 0.7em;
  --btn-font-size: 1.6rem;
  --btn-font-family: var(--font-primary);

  // Forms base
  --form-font-family: var(--font-secondary);
  --form-element-padding: var(--btn-padding);
  --form-element-border-color: var(--color-grey);
  --form-element-focus-border-color: var(--color-black);
  --placeholder-color: var(--color-grey-80);

  // Headings base
  --headings-font-family: var(--font-primary);
  --headings-color: var(--base-text-color);

  // Base font styles for headings
  --headings-sizes-h1: 3rem;
  --headings-sizes-h2: 2.7rem;
  --headings-sizes-h3: 2.4rem;
  --headings-sizes-h4: 2.1rem;
  --headings-sizes-h5: 1.7rem;
  --headings-sizes-h6: 1.5rem;

  // icon
  --icon-color: var(--color-white);

  @include media('<xlg') {
    --container-width: var(--lg);
    --container-padding: 30px;
  }
  @include media('<lg') {
    --container-width: var(--md);
  }
  @include media('<md') {
    --container-width: var(--sm);
  }
  @include media('<xs') {
    --container-padding: 15px;
  }
}
