.cs--btn {
  --btn-border-radius: 50px;
  position: relative;
  display: block;
  padding: 16px 32px;
  border: none;
  border-radius: var(--btn-border-radius);
  background-color: transparent;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  &-grad-blue {
    background-image: var(--grad-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include animate(box-shadow);
    @include media('hover') {
      &:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        &:before {
          filter: blur(30px);
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 50%;
      background-image: var(--grad-blue);
      filter: blur(50px);
      transform: translateY(-50%);
      @include animate(filter);
    }
  }
  &-transparent-grad-blue {
    --grad-border: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include media('hover') {
      &:hover {
        &:after {
          opacity: 0;
        }
      }
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      border-radius: var(--btn-border-radius);
    }
    &:before {
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      background-image: var(--grad-blue);
    }
    &:after {
      top: var(--grad-border);
      left: var(--grad-border);
      z-index: -1;
      width: calc(100% - 2 * var(--grad-border));
      height: calc(100% - 2 * var(--grad-border));
      background-color: var(--color-blue-90);
      @include animate(opacity);
    }
  }
}
a.cs--btn {
  @include media('hover') {
    &:hover {
      text-decoration: none;
    }
  }
  &:focus {
    text-decoration: none;
  }
}
