.cs--card-filter {
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: flex-start;
    margin-left: auto;
    @include media('<xlg') {
      grid-template-columns: 3fr 1fr;
      width: 100%;
      margin-left: 0;
    }
    @include media('<md') {
      grid-template-columns: 1fr;
    }
  }
  &__filter {
    &-list {
      @extend %listreset;
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      --card-filter-btn-bg: var(--color-blue-50);
      margin-top: 5px;
      margin-bottom: 5px;
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    &-label {
      position: relative;
      cursor: pointer;
      @include media('hover') {
        &:hover {
          .cs--card-filter__filter-title,
          .cs--card-filter__filter-icon {
            opacity: 0.7;
          }
        }
      }
    }
    &-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:checked ~ * {
        background-color: var(--color-green-30);
      }
    }
    &-title {
      display: block;
      padding: 12px;
      border-radius: 3px;
      background-color: var(--card-filter-btn-bg);
      font-weight: 700;
      font-size: 12px;
      line-height: 1;
      @include animate(background-color opacity);
    }
    &-icon {
      display: block;
      padding: 7px;
      border-radius: 3px;
      background-color: var(--card-filter-btn-bg);
      @include animate(background-color opacity);
      .cs--icon {
        width: 20px;
        height: 18px;
      }
    }
  }
}
