.cs--chat {
  &-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-output {
    overflow: auto;
    max-height: 200px;
    margin-bottom: 10px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: var(--color-blue-50);
    }
  }
  &-message {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.4;
  }
  &-input {
    display: flex;
    align-items: flex-start;
    margin-top: auto;
    textarea.cs--dashboard-form__input {
      height: 42px;
      min-height: 0;
      margin-right: 10px;
      background-color: var(--color-white);
      color: var(--color-black);
      resize: none;
    }
    .cs--btn {
      padding: 9px 12px;
      border-radius: 3px;
    }
    .cs--icon {
      width: 20px;
      height: 20px;
    }
  }
}
