.cs--reg-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 360px;
  &__input-wrapper {
    --icon-color: var(--color-blue-40);
    position: relative;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .cs--icon {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
  }
  &__checkbox-wrapper {
    --icon-color: var(--color-blue-40);
    position: relative;
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: var(--color-white);
    cursor: pointer;
    .cs--icon {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      @include animate(opacity);
    }
  }
  &__input {
    width: 100%;
    padding: 15px 35px 15px 55px;
    border: none;
    border-radius: 50px;
    @include animate(box-shadow);
    &:focus {
      box-shadow: 0px 0px 5px 5px rgba(0, 187, 250, 0.4);
    }
  }
  &__checkbox {
    position: absolute;
    visibility: hidden;
    &:checked {
      & ~ .cs--icon {
        opacity: 1;
      }
    }
  }
  &__term {
    display: flex;
    font-size: 12px;
    font-family: var(--font-secondary);
    line-height: 1.4;
  }
  &__recaptcha {
    display: flex;
    align-self: center;
    max-width: 285px;
    max-height: 75px;
    margin: 20px 0;
  }
}
