.cs--page {
  position: relative;
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
  }
  &__sub-title {
    font-size: 12px;
    line-height: 1.4;
  }
  &__content {
    &--accent {
      color: var(--color-orange-50);
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
  }
  &[class*='cs--dashboard'] {
    background-image: var(--radial-blue);
  }
  hr {
    height: 1px;
    margin: 25px 0;
    border: none;
    background-color: var(--color-grey-blue-10);
  }
}
