.cs--dashboard-form {
  --form-padding-top: 25px;
  --form-padding-side: 35px;
  --form-padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  padding: var(--form-padding-top) var(--form-padding-side) var(--form-padding-bottom);
  background-color: var(--color-blue-85);
  box-shadow: 0px 0px 30px hsla(209, 62%, 32%, 0.15);
  @include media('<xs') {
    --form-padding-top: 10px;
    --form-padding-side: 15px;
    --form-padding-bottom: 20px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    &--mark {
      --marker-size: 12px;
      position: relative;
      padding-left: 20px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: var(--marker-size);
        height: var(--marker-size);
        border-radius: 50%;
        background-color: var(--color-orange-50);
        transform: translateY(-50%);
      }
    }
  }
  &__sub-title {
    margin-bottom: 40px;
    font-size: 12px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    & + .cs--dashboard-form__item {
      margin-top: 15px;
    }
  }
  &__label {
    margin-bottom: 10px;
    font-size: 12px;
    &:not(.cs--dashboard-form__label--radio) {
      color: var(--color-grey-blue-50);
    }
    &--radio {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      place-items: center;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
  &__input-wrapper {
    --side-padding: 15px;
    --arrow-size: 6px;
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--color-grey-blue-10);
    border-radius: 3px;
    background-color: transparent;
    color: var(--base-text-color);
    font-size: 14px;
    @include animate(border);
    &:focus {
      border-color: var(--color-blue-30);
    }
    &--radio {
      display: none;
      &:checked ~ .cs--dashboard-form__radio-box {
        &:before {
          opacity: 1;
        }
      }
    }
    &--arrow {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: var(--side-padding);
        z-index: 1;
        width: var(--arrow-size);
        height: var(--arrow-size);
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: var(--color-blue-30);
        pointer-events: none;
        transform: translateY(-50%) rotateZ(135deg);
      }
      .cs--dashboard-form__input {
        padding-right: calc(2 * var(--side-padding));
      }
    }
    &--success {
      --valid-size: 20px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: var(--side-padding);
        width: var(--valid-size);
        height: var(--valid-size);
        background: url('/img/icon/dash-input_success.svg') center / contain no-repeat;
        transform: translateY(-50%);
      }
      &.cs--dashboard-form__input--arrow {
        &:before {
          right: calc(2 * var(--side-padding));
        }
      }
    }
    &--postfix {
      &:after {
        content: attr(data-postfix);
        position: absolute;
        top: 50%;
        right: var(--side-padding);
        font-size: 12px;
        transform: translateY(-50%);
      }
      .cs--dashboard-form__input {
        padding-right: calc(3 * var(--side-padding));
      }
    }
    &--search-wrapper {
      position: relative;
      display: flex;
    }
    &--search-btn {
      --icon-color: var(--color-grey-blue-10);
      position: absolute;
      top: 50%;
      right: 15px;
      display: flex;
      width: 17px;
      height: 17px;
      padding: 0;
      border: none;
      background-color: transparent;
      transform: translateY(-50%);
      @include media('hover') {
        &:hover {
          --icon-color: var(--color-white);
        }
      }
    }
    &--search {
      width: 100%;
    }
  }
  &__radio {
    &-group {
      display: flex;
      flex-wrap: wrap;
    }
    &-box {
      position: relative;
      display: grid;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      border: 1px solid var(--color-blue-30);
      border-radius: 50%;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        place-self: center;
        background-color: var(--color-blue-30);
        opacity: 0;
      }
    }
  }
  &__btn-group {
    display: flex;
    align-items: center;
    margin-top: 40px;
    .cs--btn {
      @include media('<sm') {
        width: auto;
        padding: 8px 16px;
        border-radius: 25px;
      }
    }
  }
  &__market-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    align-self: center;
    padding: 80px 0;
    @include media('<sm') {
      grid-template-columns: 1fr;
      padding: 40px 0;
    }
    & > * {
      display: flex;
      overflow: hidden;
      border-radius: 12px;
      @include animate(box-shadow);
      @include media('hover') {
        &:hover {
          box-shadow: 0px 0px 20px rgba(31, 83, 132, 0.7);
        }
      }
      img {
        width: 100%;
      }
    }
  }
  &__qr {
    &-wrapper {
      display: grid;
      grid-template-columns: 144px 1fr;
      grid-gap: 60px;
      padding: 30px 0 40px;
      @include media('<lg') {
        grid-gap: 30px;
      }
      @include media('<sm') {
        grid-template-columns: 1fr;
        padding: 0;
      }
    }
    &-code {
      --qr-code-width: 100%;
      position: relative;
      flex-shrink: 0;
      place-self: center;
      width: var(--qr-code-width);
      padding-bottom: var(--qr-code-width);
      @include media('<sm') {
        --qr-code-width: 50%;
      }
      @include media('<xs') {
        --qr-code-width: 75%;
      }
      & > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-content {
      align-self: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.8;
    }
    &-text {
      margin-bottom: 20px;
      font-weight: 12px;
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0 20px;
    @include media('<sm') {
      padding: 40px 0 20px;
    }
    &-img {
      margin-bottom: 30px;
    }
    &-title {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      @include media('<sm') {
        margin-bottom: 20px;
        font-size: 24px;
      }
    }
    &-text {
      max-width: 400px;
      font-size: 12px;
      text-align: center;
    }
  }
  .cs--btn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
  }
  .cs--table-wrapper {
    margin: 0 calc(-1 * var(--form-padding-side)) calc(-1 * var(--form-padding-bottom));
  }
  .cs--table {
    &--striped {
      & > tbody {
        & > tr {
          &:nth-of-type(even) {
            background-color: var(--color-blue-100);
          }
        }
      }
    }
    tr {
      * {
        &:first-child {
          padding-left: var(--form-padding-side);
        }
        &:last-child {
          padding-right: var(--form-padding-side);
        }
      }
    }
    th {
      background-color: transparent;
      color: var(--color-grey-blue-50);
    }
  }
}
select.cs--dashboard-form__input {
  padding: 10px var(--side-padding);
  background-color: var(--color-blue-85);
}
textarea.cs--dashboard-form__input {
  min-height: 100px;
}
