{%
  set colLength = 0
%}

{%
  set dataTable = {
    'head': {
      'class': [
        '',
        '',
        ''
      ],
      'list': [
        'Size',
        'Price (USDT)',
        'Total'
      ]
    },
    'body': [
      {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-danger',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': 'cs--color-success',
        'breakPoint': '58,763.65 ≈ 1.00051916 BTC'
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }, {
        'class': [
          '',
          'cs--color-success',
          'cs--color-secondary'
        ],
        'list': [
          '0.00423',
          '55446.23',
          '2356.6546546'
        ]
      }
    ]
  }
%}

<section class="cs--interface__block cs--interface__block--order-book">
  <h2 class="cs--interface__block-title">Order Book</h2>
  <div class="cs--table-wrapper">
    <table class="cs--table {{ 'cs--table--striped' if dataTable.striped }}">
      <thead>
        <tr>
          {% for name in dataTable.head.list %}
            {% set colLength = loop.length %}
            <th class="{{ data.head.class[loop.index - 1] }}">{{ name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for value in dataTable.body %}
          <tr>
            {% if value.breakPoint %}
              <td colspan="{{ colLength }}" class="cs--table__break-point {{ value.class }}">{{ value.breakPoint }}</td>
            {% else %}
              {% for name in dataTable.head.list %}
                <td data-label="{{ name }}" class="{{ value.class[loop.index - 1] }}"><span>{{ value.list[loop.index - 1] }}</span></td>
              {% endfor %}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
