.cs--landing {
  &-hero {
    display: flex;
    min-height: calc(100vh - var(--landing-header-height));
    padding: 120px 0 15px;
    @include media('<xs') {
      padding: 60px 0 20px;
    }
    &__content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 565px;
      margin-bottom: 160px;
      @include media('<md') {
        margin-bottom: 80px;
      }
    }
    &__decor {
      position: absolute;
      top: 0;
      right: 5%;
      z-index: 0;
      overflow: hidden;
      max-height: 100%;
      @include media('<xlg') {
        right: var(--container-padding);
      }
      @include media('<md') {
        display: none;
      }
    }
    &__title {
      margin-bottom: 40px;
      font-weight: 800;
      font-size: 42px;
      @include media('<sm') {
        font-size: 32px;
      }
      @include media('<xs') {
        margin-bottom: 30px;
        font-size: 28px;
      }
      &--accent {
        background-image: var(--grad-orange);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &__comment {
      margin-bottom: 50px;
      font-family: var(--font-secondary);
      line-height: 1.4;
    }
    &__counter {
      --counter-item-max-width: 200px;
      @extend %listreset;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px 5px;
      @include media('<md') {
        grid-template-columns: repeat(3, 1fr);
      }
      @include media('<xs') {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__counter-item {
      --counter-item-height: 100px;
      position: relative;
      display: flex;
      flex-shrink: 0;
      place-self: center;
      align-items: center;
      max-width: var(--counter-item-max-width);
      height: var(--counter-item-height);
      padding-left: calc(var(--counter-item-height) / 4);
      @include media('<sm') {
        --counter-item-height: 50px;
        padding-left: calc(var(--counter-item-height) / 5);
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--counter-item-height);
        height: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: transparent transparent var(--color-blue-40) var(--color-blue-40);
        border-radius: 50%;
        transform: rotateZ(45deg);
      }
      &-count {
        margin-right: 10px;
        font-weight: 300;
        font-size: 30px;
        @include media('<sm') {
          font-size: 22px;
        }
      }
      &-text {
        font-size: 14px;
        font-family: var(--font-secondary);
        word-spacing: 100vw;
        @include media('<sm') {
          font-size: 12px;
        }
      }
    }
    .cs--section__bg {
      height: 100%;
      object-fit: cover;
    }
    .cs--container {
      position: relative;
      z-index: 1;
      align-self: center;
      width: 100%;
      padding: 0 170px 0 190px;
      @include media('<xlg') {
        padding: 0 var(--container-padding);
      }
    }
    .cs--btn {
      padding-right: 62px;
      padding-left: 62px;
      @include media('<sm') {
        padding-right: 32px;
        padding-left: 32px;
      }
    }
  }
}
