.cs--dashboard--news-article {
  padding: 40px 0;
  .cs--container {
    padding: 0 60px 0 100px;
    @include media('<xlg') {
      padding: 0 var(--padding-sm);
    }
    @include media('<xs') {
      padding: 0 var(--padding-xs);
    }
  }
  .cs--page__title {
    margin-bottom: 20px;
  }
  .cs--article {
    @include media('<xlg') {
      margin-left: 0;
    }
  }
  .cs--page-side {
    margin-top: 30px;
  }
}
