.cs--dashboard--news {
  padding: 20px 0 30px;
  .cs--page {
    &__head {
      align-items: flex-end;
      margin-bottom: 20px;
    }
    &__title {
      margin-right: 10px;
      margin-bottom: 0;
      @include media('<xlg') {
        margin-bottom: 20px;
      }
    }
  }
  .cs--container {
    padding: 0 45px 0 105px;
    @include media('<xlg') {
      padding: 0 var(--padding-sm);
    }
    @include media('<xs') {
      padding: 0 var(--padding-xs);
    }
  }
  .cs--card-list {
    --card-list-columns: 5;
    grid-gap: 25px;
    @include media('<xlg') {
      --card-list-columns: 4;
    }
    @include media('<md') {
      --card-list-columns: 3;
    }
    @include media('<sm') {
      --card-list-columns: 2;
      grid-gap: 20px;
    }
    @include media('<xs') {
      --card-list-columns: 1;
    }
  }
  .cs--card-item__content {
    padding: 15px 20px 20px;
  }
  .cs--card-item__title {
    margin-bottom: 15px;
    font-size: 13px;
  }
  .cs--dashboard-form__input {
    &--search-wrapper {
      @include media('<md') {
        width: 50%;
      }
      @include media('<sm') {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
