.cs--dashboard--preferences {
  padding: 35px 0 30px;
  .cs--container {
    padding: 0 var(--padding-xlg) 0 100px;
    @include media('<xlg') {
      padding: 0 var(--padding-sm);
    }
    @include media('<xs') {
      padding: 0 var(--padding-xs);
    }
  }
  .cs--page {
    &-side {
      margin-top: 30px;
    }
    &__title {
      margin-bottom: 50px;
    }
  }
  .cs--dashboard-form {
    &__item {
      width: 50%;
      @include media('<sm') {
        width: 100%;
      }
    }
    &__label {
      margin-bottom: 20px;
      &--radio {
        margin-bottom: 0;
      }
    }
  }
}
