{% macro detailList(itemList) %}
  <ul class="cs--detail-list">
    {% for item in itemList %}
      <li class="cs--detail-wrapper">
      <details class="cs--detail-item">
        <summary class="cs--detail-summary">{{ item.summary }}</summary>
        <div class="cs--detail-content">
        {% for text in item.textList %}
          <p>{{ text }}</p>
        {% endfor %}
        </div>
      </details>
    </li>
    {% endfor %}
  </ul>
{% endmacro %}
