{% set navList = [
  {
    'title': 'Platform',
    'link': 'javascript:void(0)'
  }, {
    'title': 'Pricing',
    'link': 'javascript:void(0)'
  }, {
    'title': 'API',
    'link': 'javascript:void(0)'
  }, {
    'title': 'About',
    'link': 'javascript:void(0)'
  }
] %}

<header class="cs--landing-header" data-landing-header>
  <div class="cs--container">
    <div class="cs--landing-header__wrapper">
      <a href="javascript:void(0)" class="cs--logo cs--logo--lg">
        <picture>
          <source srcset="./img/logo-icon.png" media="(max-width: 768px)">
          <img src="./img/logo.png" alt="logo">
        </picture>
      </a>
      <nav class="cs--landing-nav" data-landing-menu data-expanded="false">
        <ul class="cs--landing-nav__list">
          {% for navItem in navList %}
            <li class="cs--landing-nav__item">
              <a href="{{ navItem.link }}">{{ navItem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="cs--landing-login">
        <a href="javascript:void(0)">log in</a>
        <a href="registration-create-account.html" class="cs--btn cs--btn--transparent-grad-blue">sing up</a>
      </div>
      <button type="button" class="cs--landing-header__menu" data-landing-expander aria-expanded="false">
        <span></span></button>
    </div>
  </div>
</header>
