.cs--table-wrapper {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--color-blue-50);
  }
}
.cs--table {
  --cell-padding-x: 25px;
  --cell-padding-y: 15px;
  width: 100%;
  border-collapse: collapse;
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }
  &--striped {
    & > tbody {
      & > tr {
        &:nth-of-type(even) {
          background-color: var(--color-blue-85);
        }
      }
    }
  }
  &--bordered {
    & > tbody {
      & > tr {
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-blue-70);
        }
      }
    }
  }
  &__cell {
    &--min-w {
      min-width: 200px;
    }
    &--chart {
      min-width: calc(2 * var(--cell-padding-x) + 185px);
    }
  }
  &__card {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 20px;
    align-items: center;
    &-content {
      display: flex;
      flex-direction: column;
    }
    &-title {
      font-weight: 700;
      font-size: 13px;
    }
    &-abbr {
      color: var(--color-grey-50);
      font-weight: 300;
    }
  }
  thead {
    @include media('<sm') {
      display: none;
    }
  }
  tr {
    @include media('<sm') {
      display: block;
    }
    &:not(:last-child) {
      @include media('<sm') {
        border-bottom: 1px solid var(--color-grey-blue-20);
      }
    }
  }
  th,
  td {
    padding: var(--cell-padding-y) var(--cell-padding-x);
    @include media('<sm') {
      --cell-padding-y: 8px;
      --cell-padding-x: 15px;
    }
  }
  th {
    background-color: var(--color-blue-100);
    font-weight: 400;
    font-size: 13px;
    text-align: left;
  }
  td:not(.cs--table__break-point) {
    font-size: 12px;
    line-height: 1.6;
    @include media('<sm') {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 10px;
      align-items: flex-start;
      text-align: right;
    }
    &:before {
      @include media('<sm') {
        content: attr(data-label);
        color: var(--base-text-color);
        font-weight: 700;
        font-size: 13px;
        text-align: left;
      }
    }
    & > * {
      @include media('<sm') {
        justify-self: flex-end;
      }
    }
  }
  .cs--table__break-point {
    padding: 15px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    @include media('<sm') {
      display: block;
    }
  }
}
