{% macro pageSide(side) %}
  <aside class="cs--page-side">
    <h3 class="cs--page-side__title">{{ side.title }}</h3>
    <ul class="cs--page-side__item-list">
      {% for item in side.itemList %}
        <li class="cs--page-side__item">
          <a href="{{ item.link }}" class="cs--page-side__link {{ 'cs--page-side__link--accent' if item.accent }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endmacro %}
