<!DOCTYPE html>
<html lang="en" data-color-theme="dark" >
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem - 2FA - Step 2</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/fonts.njk' %}
    {% include './partials/head/common.njk' %}
  </head>
  {% from "./partials/components/dashboard/page-side.njk" import pageSide %}

  {%
    set side = {
      'title': 'FAQs',
      'itemList': [
        {
          'title': 'What is 2FA?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'How do I link an exchange?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'Can I create a new exchange account through CryptoSystem?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'What are exchange APIs?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'Do you offer a referral rewards program?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'Can I deposit or withdraw assets from CryptoSystem?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'Visit Support Center',
          'link': 'javasript:void(0)',
          'accent': true
        }
      ]
    }
  %}

  <body>
    <div class="cs--preloader" data-preloader></div>
    <div class="cs--page-wrapper">
      {% include './partials/components/dashboard/header.njk' %}
      <main class="cs--page cs--dashboard--2fa">
        <div class="cs--container">
          <h1 class="cs--page__title">2 Factor Authentication</h1>
          <div class="cs--page-side-wrapper">
            <form class="cs--dashboard-form">
              <h2 class="cs--dashboard-form__title cs--dashboard-form__title--mark">Step 2</h2>
              <h3 class="cs--dashboard-form__sub-title">Use the 2FA app on your mobile device to scan the barcode below. Be sure to save the backup code so you can regain access to your account in case you lose your device</h3>
              <div class="cs--dashboard-form__qr-wrapper">
                <div class="cs--dashboard-form__qr-code">
                  <img src="./img/examples/qr-example.png" alt="">
                </div>
                <div class="cs--dashboard-form__qr-content">
                  <p class="cs--dashboard-form__qr-text">Write down this backup key in a safe place in case you lose your device:</p>
                  <div><span class="cs--page__content--accent">Backup Key</span> (required for next step)</div>
                  <span>OUUS66ZQEETFAXJ6JFTF2Q3YEE</span>
                </div>
              </div>
              <div class="cs--dashboard-form__btn-group">
                <button type="button" class="cs--btn cs--btn--transparent-grad-blue">Back</button>
                <button type="submit" class="cs--btn cs--btn--grad-blue ml-auto">Next</button>
              </div>
            </form>
            {{ pageSide(side) }}
          </div>
        </div>
      </main>
      {% include './partials/components/dashboard/footer.njk' %}
    </div>
    {% include './partials/scripts/common.njk' %}
  </body>
</html>
