// Typography
//
// Base font styles for headings and links.

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  color: var(--headings-color);
  font-weight: bold;
  font-family: var(--headings-font-family);
}

p {
  margin: 0 0 1em;
}

a {
  color: var(--base-link-color);
  text-decoration: none;
  @include word-wrap();
  @include media('hover') {
    &:hover {
      text-decoration: underline;
    }
  }
  &:focus {
    text-decoration: underline;
  }
}

.cs--color {
  &-primary {
    color: var(--color-blue);
  }
  &-secondary {
    color: var(--color-grey);
  }
  &-success {
    color: var(--color-green);
  }
  &-danger {
    color: var(--color-red);
  }
  &-warning {
    color: var(--color-yellow);
  }
}
