<section class="cs--section cs--landing-showreal">
  <div class="cs--container">
    <div class="cs--landing-showreal__wrapper">
      <h2 class="cs--landing-showreal__title">Our showreal</h2>
      <p class="cs--landing-showreal__comment">Neque enim fermentum pellentesque est. Gravida elementum, condimentum vitae amet, in nam.</p>
      <div class="cs--landing-showreal__video-wrapper">
        <button type="button">
          <img src="./img/btn-play.svg" alt="">
        </button>
      </div>
      <a href="javascript:void(0)" class="cs--btn cs--btn-grad-blue">Create Your Free Account</a>
    </div>
  </div>
</section>
