<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem - Create account</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/common.njk' %}
  </head>
  {%
    set inputs = [
      {
        'name': 'reg-form-name',
        'type': 'text',
        'icon': '',
        'placeholder': 'Enter Your Name'
      },
      {
        'name': 'reg-form-email',
        'type': 'email',
        'icon': '',
        'placeholder': 'Enter Your E-mail'
      }
    ]
  %}
  <body>
    <main class="page-registration">
      <div class="page-bg">
        <img src="./img/bg_registration.jpg" alt="">
      </div>
      <div class="container">
        <h4>Create your free account</h4>
        <form class="reg-form">
          {% for input in inputs %}
            <label for="{{ input.name }}">
              <input id="{{ input.name }}" type="{{ input.type }}" placeholder="{{ input.placeholder }}">
            </label>
          {% endfor %}
        </form>
      </div>
    </main>
    {% include './partials/scripts/common.njk' %}
  </body>
</html>
