<!DOCTYPE html>
<html lang="en" data-color-theme="dark" >
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem - Interface - Login</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/fonts.njk' %}
    {% include './partials/head/common.njk' %}
  </head>

  <body>
    <div class="cs--preloader" data-preloader></div>
    <div class="cs--page-wrapper">
      {% include './partials/components/dashboard/header-login.njk' %}
      <main class="cs--page cs--dashboard--interface">
        <div class="cs--container">
          <div class="cs--interface">
            {% include './partials/sections/dashboard-interface/tools.njk' %}
            {% include './partials/sections/dashboard-interface/order-book.njk' %}
            {% include './partials/sections/dashboard-interface/trade-history.njk' %}
            {% include './partials/sections/dashboard-interface/my-orders.njk' %}
            {% include './partials/sections/dashboard-interface/exchange.njk' %}
            {% include './partials/sections/dashboard-interface/chat.njk' %}
          </div>
        </div>
      </main>
      {% include './partials/components/dashboard/footer.njk' %}
    </div>
    {% include './partials/scripts/common.njk' %}
  </body>
</html>
