<!DOCTYPE html>
<html lang="en" data-color-theme="dark" >
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem - New Support Ticket</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/fonts.njk' %}
    {% include './partials/head/common.njk' %}
  </head>
  {% from "./partials/components/dashboard/input.njk" import dashInput %}

  {%
    set inputList = [
      {
        'title': 'Your E-mail',
        'id': 'dashboard--email',
        'type': 'email',
        'placeholder': 'email@mail.com',
        'class': 'cs--dashboard-form__input--success'
      }, {
        'title': 'Message type',
        'id': 'dashboard--msg-type',
        'type': 'select',
        'optionList': [
          {
            'text': 'Money deposit',
            'value': 'money-deposit'
          }, {
            'text': 'Bitcoin deposit',
            'value': 'bitcoin-deposit'
          }
        ]
      }, {
        'title': 'Subject',
        'id': 'dashboard--subject',
        'type': 'text',
        'placeholder': 'Hello!'
      }, {
        'title': 'Message text',
        'id': 'dashboard--msg-text',
        'type': 'textarea',
        'placeholder': 'Text'
      }
    ]
  %}

  <body>
    <div class="cs--preloader" data-preloader></div>
    <div class="cs--page-wrapper">
      {% include './partials/components/dashboard/header.njk' %}
      <main class="cs--page cs--dashboard--new-ticket">
        <div class="cs--container">
          <h1 class="cs--page__title">New Support Ticket</h1>
          <p class="cs--page__sub-title">Attention! Cyptosystem never asks you to create cryptoicodes or any payments. Never send your info to scammers by email, Telegram or Twitter (we don’t have any support on Twitter)!  Cyptosystem supports never ask your money for solving problems or account activation. We don't have any private or special Invest Boxes. Beware of scams! You don’t need to verify you account! Don’t send your money to scammers!</p>
          <div class="cs--page-side-wrapper">
            <form class="cs--dashboard-form">
              {% for input in inputList %}
                {{ dashInput(input) }}
              {% endfor %}
              <div class="cs--dashboard-form__btn-group">
                <button type="submit" class="cs--btn cs--btn--grad-blue">Create New Ticket</button>
              </div>
            </form>
          </div>
        </div>
      </main>
      {% include './partials/components/dashboard/footer.njk' %}
    </div>
    {% include './partials/scripts/common.njk' %}
  </body>
</html>
