<!DOCTYPE html>
<html lang="en" data-color-theme="dark" >
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem - Connect</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/fonts.njk' %}
    {% include './partials/head/common.njk' %}
  </head>
  {% from "./partials/components/dashboard/page-side.njk" import pageSide %}
  {% from "./partials/components/dashboard/input.njk" import dashInput %}

  {%
    set side = {
      'title': 'FAQs',
      'itemList': [
        {
          'title': 'I don’t have an exchange account, do I need one?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'Are there any additional fees for trading with CryprtoSystem platform?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'My exchange is not supported, how can I request it?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'Are derivatives such as futures and perpetual swaps supported?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'How can I connect my wallets such as MetaMask, Trezor, or Ledger etc?',
          'link': 'javasript:void(0)',
          'accent': false
        }, {
          'title': 'Visit Support Center',
          'link': 'javasript:void(0)',
          'accent': true
        }
      ]
    }
  %}

  {%
    set inputList = [
      {
        'title': 'Api Key',
        'id': 'dashboard--api-key',
        'type': 'password',
        'placeholder': '*****'
      }, {
        'title': 'Secret Key',
        'id': 'dashboard--secret-key',
        'type': 'password',
        'placeholder': '*****'
      }, {
        'title': 'Account Lable',
        'id': 'dashboard--account-lable',
        'type': 'text',
        'placeholder': 'Label'
      }
    ]
  %}

  <body>
    <div class="cs--preloader" data-preloader></div>
    <div class="cs--page-wrapper">
      {% include './partials/components/dashboard/header.njk' %}
      <main class="cs--page cs--dashboard--connect">
        <div class="cs--container">
          <h1 class="cs--page__title">Connect your Binance US Account</h1>
          <p class="cs--page__sub-title">A secure connection with your exchange account is established using API keys. To learn more about how API keys work, click here.</p>
          <div class="cs--page-side-wrapper">
            <form class="cs--dashboard-form">
              <h2 class="cs--dashboard-form__title cs--dashboard-form__title--mark">Enter your API Key for Binance US</h2>
              {% for input in inputList %}
                {{ dashInput(input) }}
              {% endfor %}
              <div class="cs--dashboard-form__btn-group">
                <button type="submit" class="cs--btn cs--btn-grad-blue">Connect</button>
              </div>
            </form>
            {{ pageSide(side) }}
          </div>
        </div>
      </main>
      {% include './partials/components/dashboard/footer.njk' %}
    </div>
    {% include './partials/scripts/common.njk' %}
  </body>
</html>
