<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/common.njk' %}
  </head>
  {%
    set links = [
      {
        'title': 'Registration - Create account',
        'href': 'registration-create-account.html'
      },
      {
        'title': 'Registration - Verify email',
        'href': 'registration-verify-email.html'
      },
      {
        'title': 'Landing',
        'href': 'landing.html'
      }
    ]
  %}
  <body>
    <main style="padding: 20px 30px;">
      <h1>Pages list:</h1>
      <ul>
        {% for link in links %}
          <li style="margin-bottom: 10px;">
            <a href="{{ link.href }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
