<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem - Landing</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/fonts.njk' %}
    {% include './partials/head/common.njk' %}
  </head>
  <body>
    {% include './partials/components/landing/header.njk' %}
    <main class="cs--page cs--page--landing">
      {% include './partials/sections/landing/hero.njk' %}
      {% include './partials/sections/landing/acquaintance.njk' %}
      {% include './partials/sections/landing/benefits.njk' %}
      {% include './partials/sections/landing/showreal.njk' %}
      {% include './partials/sections/landing/news.njk' %}
      {% include './partials/sections/landing/bring-trading.njk' %}
    </main>
    {% include './partials/components/landing/footer.njk' %}
    {% include './partials/scripts/common.njk' %}
  </body>
</html>
