<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CryptoSystem - Verify account</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>₿</text></svg>"
/>
    {% include './partials/head/fonts.njk' %}
    {% include './partials/head/common.njk' %}
  </head>
  {% from "./partials/components/icon.njk" import icon %}

  {%
    set form = {
      id: 'verify-account'
    }
  %}

  {%
    set inputs = [
      {
        'name': form.id + '-' + 'verify-code',
        'type': 'password',
        'icon': 'lock-open',
        'placeholder': 'Enter Code'
      }
    ]
  %}
  <body>
    <main class="cs--page cs--page--registration">
      <div class="cs--page__bg">
        <img src="./img/bg_registration.jpg" alt="">
      </div>
      <div class="cs--container">
        <div class="cs--page__wrapper">
          <a href="javascript: void(0)" class="cs--logo cs--logo-lg">
            <img src="./img/logo.png" alt="logo">
          </a>
          <h1 class="cs--page__title">Enter the code from E-mail</h1>
          <form id="{{ form.id }}" class="cs--reg-form">
            {% for input in inputs %}
              <label for="{{ input.name }}" class="cs--reg-form__input-wrapper">
                {{ icon(input.icon) }}
                <input id="{{ input.name }}" type="{{ input.type }}" class="cs--reg-form__input" placeholder="{{ input.placeholder }}">
              </label>
            {% endfor %}
            <button type="submit" class="cs--btn cs--btn-grad-blue">Confirm registration</button>
          </form>
        </div>
      </div>
    </main>
    {% include './partials/scripts/common.njk' %}
  </body>
</html>
